.footer-container{
    background-color: rgb(59, 59, 59);
    color:white;
    padding-top: 30px;
}
.footerC{
    padding-left: 30px;
}
.footer-container a{
    color:rgb(226, 205, 205);
}
.copyright{
    text-align: center;
}
.footerItem{
    font-size: 20px;
    list-style-type: none;
}
.listSponzori li{
    display: inline-block;
    padding-left: 15px;
}

.slika{
    height: 60px;
}
.footerRightSide{
    padding-right: 30px;
}