.navbar{
    height: 60px;
    font-size: 18px;

}
.bg-light{
    background-color: white !important;
}

main{
    margin-top: 60px;
}
.logo-img{
    width: auto;
    height: 40px;
}
.dropdown-menu{
    width: 200px;
    font-size: 18px;
}
.nav-item{
    padding-left: 15px;
}
@media only screen and (max-width : 768px) {
    /* Styles */
.navbar-collapse{
    margin-top: 60px;
    background-color: white;
    position: absolute;
    width: 100%;
}
}
.fa-facebook{
    margin-right: 10px;
}
    