.nasheader{
    background-color: grey;
    height: 130px;;
}
.moj-logo{
    height: 100px;
    width: 100px;
    padding: 10px;
    float: left;
}
.moja-nav{
    color: white;
    display: inline;
    float: right;
}
.pozadina{
}
.moj-header{
    height: 100px;
}
.vijest{
   
    width: 33%;
    display: inline-block;
}
.footer{
    background: #666;
    height: 100px;
    color: white;
    padding: 20px 0;
}
.copyright{
    text-align: center;
}